@import "tailwindcss";

@theme{
    --color-mine-shaft-50: #f6f6f6;
    --color-mine-shaft-100: #e7e7e7;
    --color-mine-shaft-200: #d1d1d1;
    --color-mine-shaft-300: #b0b0b0;
    --color-mine-shaft-400: #888888;
    --color-mine-shaft-500: #6d6d6d;
    --color-mine-shaft-600: #5d5d5d;
    --color-mine-shaft-700: #4f4f4f;
    --color-mine-shaft-800: #454545;
    --color-mine-shaft-900: #3d3d3d;
    --color-mine-shaft-950: #2d2d2d;
    --color-clairt-50: #fbf5fe;
    --color-clairt-100: #f6eafd;
    --color-clairt-200: #edd5f9;
    --color-clairt-300: #e1b3f4;
    --color-clairt-400: #d186ec;
    --color-clairt-500: #b957de;
    --color-clairt-600: #9f37c2;
    --color-clairt-700: #862ba0;
    --color-clairt-800: #6f2583;
    --color-clairt-900: #5e236c;
    --color-clairt-950: #430d50;   
}
@layer base{
    ul,ol{
        list-style: revert;
        font-size: medium;
    }
    p{
        font-size: medium;
    }
    li{
        margin-left: 1em;
    }
}